.formButtonContainer {
  padding-top: 15px;
  margin: 5px;
}

.formContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
}

.formSubmitButton {
  margin: 5px;
}

.formInputs {
  width: 100%;
}
.DialogCustomStyle {
     div:first-of-type{
      > div{
        //background-color: black;
        border-radius: 18px !important;
      }
  }
}