.notes_IconButton{
    width: 29px !important;
    height: 26px !important;
    padding: 0px !important;
    border: 1px !important;
}
.note {
    height: 200px;
    width: 200px;
    background-color: #ffffa2;
    margin: 2px 0;
    position: absolute;
    cursor: -webkit-grab;
    -webkit-box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .2);
    box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .2);
}
#contentTitle{
    background-color: rgba(216, 216, 137, 0.59);;
    font-size: 22px;
    padding-top: 5px;
    padding-left:3px;
    font-family: "Shadows Into Light", Arial;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.note:active {
    cursor: -webkit-grabbing;
}
.note p {
    font-size: 22px;
    padding: 5px;
    font-family: "Shadows Into Light", Arial;
}

.note:hover > span {
    opacity: 1;
}

.note > span {
    position: absolute;
    bottom: 2px;
    right: 2px;
    opacity: 0;
    transition: opacity .25s linear;
}

.note button {
    margin: 2px;
}

.note > textarea {
    height: 75%;
    background: rgba(255, 255, 255, .5);
}
